/*=========
== FONTS ==
=========*/

/* Imported from Google Fonts */

/* Lexend Deca
Implementation: font-family: 'Lexend Deca', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Big Shoulders Display
Implementation: font-family: 'Big Shoulders Display', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/*===============
== ROOT STYLES ==
===============*/

*{
    box-sizing: border-box;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/* Variables */

:root{
    /* Primary colors */
    --orange: hsl(31, 77%, 52%);
    --dark_cyan: hsl(184, 100%, 22%);
    --darker_cyan: hsl(179, 100%, 13%);

    /* Neutral colors */
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --back_headings_buttons: hsl(0, 0%, 95%);
}

/*===============
== MAIN STYLES ==
===============*/

.cards{
    height: 40rem;
    margin: 10rem auto 0;
    width: 80vw;
    display: flex;
}

/* Items styles */

.card_item{
    padding: 4.2rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.item1{
    border-radius: 1rem 0 0 1rem;
    background-color: var(--orange);
}

.item2{
    background-color: var(--dark_cyan);
}

.item3{
    border-radius: 0 1rem 1rem 0;
    background-color: var(--darker_cyan);
}

.card_icon{
    background-size: contain;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
}

.icon1{
    background-image: url(../images/icon-sedans.svg);
}

.icon2{
    background-image: url(../images/icon-suvs.svg);
}

.icon3{
    background-image: url(../images/icon-luxury.svg);
}

.card_item h2{
    color: var(--back_headings_buttons);
    font-size: 3rem;
    font-family: 'Big Shoulders Display';
    text-transform: uppercase;
}

.card_item p{
    color: var(--paragraphs);
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Lexend Deca', sans-serif;
}

.card_item button{
    margin-top: 5rem;
    font-family: 'Lexend Deca', sans-serif; 
    padding: 1rem 1.5rem;
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0;
}

.card_item button:hover{
    cursor: pointer;
    background-color: hsl(0, 1%, 86%);
}

.card_item button:active{
    background-color: unset;
    padding: .8rem 1.3rem;
    border: .2rem solid white;
    color: var(--back_headings_buttons);
}

.item1 button{
    color: var(--orange);
}

.item2 button{
    color: var(--dark_cyan);
}

.item3 button{
    color: var(--darker_cyan); 
}

/*=================
== FOOTER STYLES ==
=================*/

footer{
    margin: 10rem 0 5rem;
}

footer *{
    text-align: center;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
}

/*========================
== TABLET MEDIA QUERIES ==
========================*/

@media screen and (max-width:1100px) {

    .cards{
        width: 50vw;
        height: auto;
        flex-direction: column;
    }

    .item1{
        border-radius: 1rem 1rem 0 0;
    }

    .item3{
        border-radius: 0 0 1rem 1rem;
    }

    .card_item h2{
        margin: 1.5rem 0;
    }
}

